.node {
  --top: 50px;
  --left: 60px;
  --cursor: grab;
  height: 252.53px;
  width: 185px;
  background-color: white;
  position: absolute;
  top: var(--top);
  left: var(--left);
  cursor: var(--cursor);
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2), 6px 6px 6px 6px rgba(0,0,0,0.1);
}

.header {
  width: 100%;
}

.tack {
  position: absolute;
  top: -8px;
  left: 0;
  right: 25px;
  margin-inline: auto;
  z-index: auto;
  opacity: .99;
}
